body{
	background: white;
	font-family: 'Open Sans', sans-serif;
}

#game{
	#border: solid 1px #F00;
	height: 100%;
	width: 100%;
	left: 0px;
	top: 0px;
	position: fixed;
	#cursor:url(http://www.seancannon.com/_test/sniper-scope.cur),default;
	cursor:url(../images/rocket.cur), default;
	background: url(../images/stars.jpg);

}

#info{
	width: 70px;
	float: left;
	position: relative;
}

.menu, #tutorial{
		width: 30%;
		margin: auto;
		margin-top: 5%;
		color: white;	
}

tr {
    border-bottom: 1px solid white;
}

::-webkit-input-placeholder {
   text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
   text-align: center;  
}

::-moz-placeholder {  /* Firefox 19+ */
   text-align: center;  
}

:-ms-input-placeholder {  
   text-align: center; 
}

input[type='text'] {
text-align: center;
}

.box{
	#in index.html zu finden
}
#cursor{ #kann eigentlich raus, bleibt aber zur Sicherheit drin
	#width: 45px;
	#height: 22px;
	#background: url(../images/rocket.png); #evtl für später
	#background-size: 100%;
	#background-position: -5px -4px;
	display:none;
	position:fixed;
}
.stats{

}
#showEnergy{
	background: green;
	height: 5px;
	width: 40px;
	position: fixed;
	z-index: 11;
}
