body{
	background: white;
}
#game{
	border: solid 1px #F00;
	height: 608px;
	width: 1008px;
	left: 0px;
	top: 0px;
	position: fixed;
	#cursor:url(http://www.seancannon.com/_test/sniper-scope.cur),default;
	cursor:url(../images/rocket.cur), default;
	background: url(../images/stars.jpg);

}
.menu{
		border: solid 1px;
		width: 200px;
		margin: auto;
		margin-top: 50px;
		color: white;
}
.box{
	#in index.html zu finden
}
#cursor{ #kann eigentlich raus, bleibt aber zur Sicherheit drin
	#width: 45px;
	#height: 22px;
	#background: url(../images/rocket.png); #evtl für später
	#background-size: 100%;
	#background-position: -5px -4px;
	display:none;
	position:fixed;
}
.stats{

}
#showEnergy{
	background: green;
	height: 5px;
	width: 40px;
	position: fixed;
	z-index: 11;
}
